/helloWorld/nbproject/private/
/helloWorld/build/
/AboutMe.java/nbproject/private/
/AboutMe.java/build/
/variables/nbproject/private/
/variables/build/
/math operation/nbproject/private/
/math operation/build/
/boolean/nbproject/private/
/boolean/build/
/scanner/nbproject/private/
/UserData/nbproject/private/
/UserData/build/
/conditionals/nbproject/private/
/conditionals/build/
/conditionals/dist/
/whileloop/nbproject/private/
/whileloop/build/
/doubles/nbproject/private/
/doubles/build/
/highorlow/nbproject/private/
/highorlow/build/
/functions/nbproject/private/
/functions/build/
/Arrays/nbproject/private/
/Arrays/build/
/For Loops/nbproject/private/
/For Loops/build/
/car/nbproject/private/
/Car/nbproject/private/
/Car/dist/
/Car/build/
/CarTest/nbproject/private/
/CarTest/build/
/MathIO/nbproject/private/
/MathIO/build/
/Puzzles/nbproject/private/
/Puzzles/build/
/Se archList/nbproject/private/
/Se archList/build/
/SearchList/nbproject/private/
/SearchList/build/
/ChooseYourOwnAdventure/nbproject/private/
/ChooseYourOwnAdventure/build/
/ChooseYourOwnAdventure2/nbproject/private/
/TicTacToe/nbproject/private/
/TicTacToe/build/
/Hangman/nbproject/private/
/Hangman/build/