/helloWorld/nbproject/private/
/helloWorld/build/
/AboutMe.java/nbproject/private/
/AboutMe.java/build/
/variables/nbproject/private/
/variables/build/
/math operation/nbproject/private/
/math operation/build/
/boolean/nbproject/private/
/boolean/build/