/helloWorld/nbproject/private/
/helloWorld/build/
/AboutMe.java/nbproject/private/
/AboutMe.java/build/
/variables/nbproject/private/
/variables/build/
/math operation/nbproject/private/
/math operation/build/
/boolean/nbproject/private/
/boolean/build/
/scanner/nbproject/private/
/UserData/nbproject/private/
/UserData/build/
/conditionals/nbproject/private/
/conditionals/build/
/conditionals/dist/
/whileloop/nbproject/private/
/whileloop/build/
/doubles/nbproject/private/
/doubles/build/
/highorlow/nbproject/private/
/highorlow/build/
/functions/nbproject/private/
/functions/build/